{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block others_styles %}
    <link rel="stylesheet" href="{% static 'css/posts/home.css' %}">
    {% endblock %}
    <title>Document</title>
</head>

<body>

    <!-- All sections -->
    {% block container_main %}

    <section style="margin-top: 5em;">

        {% for post in posts %}

        <div class="row w-50 mx-auto mb-4">

            <!-- Profile -->
            <div class="row align-items-center">
                <div class="col-sm-1">

                    <img 
                    style="width:50px; height: 50px;"
                    class="rounded-circle"
                    src="{{post.profile_name.picture.url}}" alt="">
                </div>
                <div class="col-sm">
                    <h5 class="h5">{{post.profile_name.user}}</h5>
                </div>
                <div class="">
                    <p class="h6 pt-1 px-1">{{post.last_modified}}</p>
                </div>
            </div>

            <!-- Image posted -->
            <div class="">

                <img 
                    class="w-100 rounded-top"
                    style="max-height:500px;
                           object-fit: scale-down;"
                    src="{{post.post_image.url}}" alt="{{post.profile_name.user.username}}">

                <!-- Comment-share-like -->
                <div class="row justify-content-end pt-1">
                    <img
                    style="width: 7.5%;"
                    src="{% static 'imgs/heart-regular.svg' %}" alt="">

                    <img
                        style="width: 7.5%;"
                        src="{% static 'imgs/comment-regular.svg' %}" alt="comment-regular">

                    <img
                    style="width: 7.5%;"
                    src="{% static 'imgs/share-from-square-regular.svg' %}" alt="share-from-square-regular">

                    <div class="row pt-1">
                        <span class="text-end fs-6">300,000 likes</span>
                    </div>
                </div>
                <div class="">
                    <p class="fs-6">
                        <span class="h6 me-2">{{post.profile_name.user.username}}</span>
                        {{post.description}}
                    </p>
                </div>
            </div>
            
            <!-- Description -->
            
        </div>
        {% endfor %}
    </section>
    {% endblock %}
</body>
</html>