{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- To links -->
    {% block others_styles %}
        <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
    {% endblock %}

    {% block title %}
        <title>Login | Copygram</title>
    {% endblock %}
</head>
<body>
    
    {% block header %}
    {% endblock %}
    {% block container_main %}
        <main>

            <section class="login">
                
                <div class="logo">
                        <img src="{% static 'imgs/logo_instagram.png' %}" alt="copygram_logo">
                        <h1>Copygram</h1>
                </div>
                <div class="container-form">

                    <form method="POST"> {% csrf_token %}
            
                        <div class="container-form">
                            <label for="id_username">Username</label>
                            {{form.username}}
                            <label for="id_password">Password</label>
                            {{form.password}}

                            <div class="d-grid gap-2 col-9 mx-auto my-2">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>
                            {% if msg_error1 is None %}
                                <p class="error">{{msg_error.0}}</p>
                            {% endif %}
                            {% if bad_logout.1 %}
                                <p class="error">{{bad_logout.0}}</p>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </section>
        </main>
    {% endblock %}
</body>
</html>