{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>{{data_profile}} profile| Copygram</title>
    {% endblock %}
</head>
<body>
    
    {% block container_main %}
        <main>
            
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}} <a href="{% url 'profile-sign-up' %}">Do you want to create profile?</a>
            </div>
            {% else %}
                <div class="w-100 ms-3 col">
                    <div class="row align-items-center justify-content-start w-50">
                        <div class="col-4">
                            <img src="https://imgs.search.brave.com/S6qbFECxMT4Quy4zhG44kxJyS-0CPPc6dwUxLzkBDf4/rs:fit:1200:1000:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tSnhZalpqUlhJ/aDQvVkRXSm9KUHRZ/dUkvQUFBQUFBQUNW/RE0vQzlyMndyYXF0/bFEvczE2MDAvcGFp/c2FqZXMlMkJuYXR1/cmFsZXMlMkJmb3Rv/cyUyQm51ZXZhcyUy/QigxMCkuanBn" class="img-thumbnail img-fluid rounded-circle" alt="" style="width: 200px; height:200px;">
                        </div>
                        <div class="col">
                            <h2>@{{data_profile.user}} | Copygram</h2>
                        </div>
                    </div>

                    <div class="mt-3 shadow p-3 mb-5 bg-body rounded">

                        <div class="">

                            <div class="fw-normal p-1 fs-5">
                                <b class="">Biography: </b>{{data_profile.biography}}
                            </div>
                            <div class="fw-normal p-1 fs-5">
                                <b class="">First name: </b>{{data_user.first_name}}
                            </div>
                            <div class="fw-normal p-1 fs-5">
                                <b class="">Last name: </b>{{data_user.last_name}}
                            </div>
                            <div class="fw-normal p-1 fs-5">
                                <b class="">Website: </b>{{data_profile.website}}
                            </div>
                        </div>
                        <div>
    
                            <div class="fw-normal p-1 fs-5">
                                <b class="">Phone number: </b>{{data_profile.phone_number}}
                            </div>
                            <div class="fw-normal p-1 fs-5">
                                <b class="">Date of birth: </b>{{data_profile.date_of_birth}}
                            </div>
                        </div>
                        <div class="fw-normal p-1 fs-5">
                            <b class="">Last modified: </b>{{data_profile.modified}}
                        </div>
                    </div>
                   
                </div>
            {% endif %}
        </main>
    {% endblock %}
</body>
</html>